[submodule "frontend"]
	path = frontend
	url = https://github.com/rodrigotxt/onfly-fullstack-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/rodrigotxt/onfly-fullstack-backend.git
